@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none; }

.bg-dark {
  background-color: #0D1B2A; }

.bg-darkblue {
  background-color: #1B263B; }

.bg-blue {
  background-color: #415A77; }

.bg-lightblue {
  background-color: #778DA9; }

.bg-grey {
  background-color: #E0E1DD; }

.bg-orange {
  background-color: #F5C67E; }

.bg-black {
  background-color: #0F0E0E; }

.bg-white {
  background-color: #F5F0F0; }

.bg-lightgrey {
  background-color: #787878; }

.text-dark {
  color: #0D1B2A; }

.text-darkblue {
  color: #1B263B; }

.text-blue {
  color: #415A77; }

.text-lightblue {
  color: #778DA9; }

.text-grey {
  color: #E0E1DD; }

.text-orange {
  color: #F5C67E; }

.text-black {
  color: #0F0E0E; }

.text-white {
  color: #F5F0F0; }

.text-lightgrey {
  color: #787878; }

.overlay {
  background-color: rgba(228, 228, 228, 0.8); }

.botonera {
  padding-top: 2em; }
  .botonera li {
    list-style: none;
    margin-left: 10px; }
  .botonera a {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 300; }
    .botonera a:hover {
      color: #F5C67E; }

.footer img {
  margin-left: 8px; }

.footer p {
  font-size: 0.8em; }

.footer a {
  text-decoration: none; }

.header__index {
  height: auto; }
  .header__index label {
    font-size: 0.8em;
    font-weight: 400; }
  .header__index h1 {
    font-size: 3em;
    font-weight: 400; }
  .header__index p {
    font-size: 1em;
    font-weight: 600; }
  .header__index hr {
    border-left: solid 1px #787878;
    width: 0%;
    height: 6em; }

.btn__principal, .btn__secundario {
  border: solid 1px #f5c67e;
  padding: 10px 40px;
  border-radius: 4px;
  font-size: 0.8em; }
  .btn__principal:hover, .btn__secundario:hover {
    transform: scale(1.1); }

.main__index section {
  height: auto;
  width: auto;
  margin-bottom: 5em; }
  .main__index section img {
    border-radius: .1em; }
  .main__index section div h5 {
    font-size: 0.8em;
    font-weight: 400; }
  .main__index section div p {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0; }
  .main__index section div span {
    font-size: 0.8em;
    font-weight: 700; }

.main__index hr {
  width: 100%;
  border-top: solid 1px #fff;
  margin-top: 10em;
  margin-bottom: 5em; }

.header__trabajos {
  margin-top: 5em; }
  .header__trabajos div {
    height: auto; }
    .header__trabajos div h3 {
      font-size: 0.8em;
      font-weight: 400; }

.main__trabajos {
  margin-top: 5em; }
  .main__trabajos section div {
    height: 24em;
    width: 18em; }
    .main__trabajos section div img {
      height: 100%;
      width: 100%;
      border-radius: 4px; }

.main__contacto article {
  height: auto; }

.main__contacto section input {
  border: solid 1px white;
  padding: .3em; }

.main__contacto section ::placeholder {
  color: white;
  font-size: 0.8em;
  font-weight: 300; }

.main__sobremi {
  margin-top: 8em;
  width: 59.8%; }
  .main__sobremi h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.3em; }
  .main__sobremi p {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 2em; }

.btn__secundario {
  border: none;
  font-size: 1em;
  padding: 0; }

.main__blog h5 {
  font-size: 2em;
  font-weight: 700; }

.main__blog p {
  font-size: 1em;
  font-weight: 300; }

.main__blog span {
  font-size: 0.8em;
  font-weight: 700; }

.section__blog h5 {
  font-size: 1em;
  font-weight: 600; }

.section__blog p {
  font-size: 0.8em;
  font-weight: 300; }

.section__blog span {
  font-size: 0.8em;
  font-weight: 700; }
