@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none; }

.bg-dark {
  background-color: #0D1B2A; }

.bg-darkblue {
  background-color: #1B263B; }

.bg-blue {
  background-color: #415A77; }

.bg-lightblue {
  background-color: #778DA9; }

.bg-grey {
  background-color: #E0E1DD; }

.bg-orange {
  background-color: #F5C67E; }

.bg-black {
  background-color: #0F0E0E; }

.bg-white {
  background-color: #F5F0F0; }

.bg-lightgrey {
  background-color: #787878; }

.text-dark {
  color: #0D1B2A; }

.text-darkblue {
  color: #1B263B; }

.text-blue {
  color: #415A77; }

.text-lightblue {
  color: #778DA9; }

.text-grey {
  color: #E0E1DD; }

.text-orange {
  color: #F5C67E; }

.text-black {
  color: #0F0E0E; }

.text-white {
  color: #F5F0F0; }

.text-lightgrey {
  color: #787878; }

.overlay {
  background-color: rgba(228, 228, 228, 0.8); }

.botonera {
  padding-top: 2em; }
  .botonera ul {
    text-transform: uppercase;
    text-align: center; }
  .botonera li {
    list-style: none;
    margin-left: 10px; }
  .botonera a {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 300; }
    .botonera a:hover {
      color: #F5C67E; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.footer img {
  margin-left: 8px; }

.footer p {
  font-size: 0.8em; }

.footer a {
  text-decoration: none; }

.header__index {
  height: auto; }
  .header__index label {
    font-size: 0.8em;
    font-weight: 400; }
  .header__index h1 {
    font-size: 3em;
    font-weight: 400; }
  .header__index p {
    font-size: 1em;
    font-weight: 600; }
  .header__index hr {
    border-left: solid 1px #787878;
    width: 0%;
    height: 6em; }

.btn__principal {
  cursor: pointer;
  position: relative;
  padding: 5px 10px;
  background: white;
  font-size: 1em;
  font-weight: 600;
  transition: all 1s;
  border: none; }
  .btn__principal:after, .btn__principal:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s; }
  .btn__principal:after {
    top: 0;
    left: 0;
    border-top: 2px solid #f5c67e;
    border-left: 2px solid #f5c67e; }
  .btn__principal:before {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #f5c67e;
    border-right: 2px solid #f5c67e; }
  .btn__principal:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px; }
    .btn__principal:hover:before, .btn__principal:hover:after {
      width: 100%;
      height: 100%; }

.main__index article {
  width: auto;
  height: auto; }
  .main__index article h2 {
    font-size: 1em;
    font-weight: 600; }

.main__index div {
  position: relative;
  height: 80%;
  border-radius: 4px;
  width: 80%; }
  .main__index div img {
    width: 100%;
    height: 100%;
    border-radius: 4px; }
  .main__index div div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(223, 223, 223, 0.9); }
    .main__index div div p {
      font-size: 2em;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }

.contenedor:hover .overlay {
  opacity: 1; }

.header__trabajos {
  margin-top: 5em; }
  .header__trabajos div {
    height: auto; }
    .header__trabajos div h3 {
      font-size: 0.8em;
      font-weight: 400; }

.main__trabajos {
  height: auto; }
  .main__trabajos h3 {
    font-size: 1em;
    font-weight: 400; }
  .main__trabajos p {
    font-size: 0.8em;
    font-weight: 400; }

img {
  border-radius: 3px; }
  img:hover {
    transform: scale(1.02); }

.main__contacto article {
  height: auto; }

.main__contacto section input {
  border: solid 1px white;
  padding: .3em; }

.main__contacto section ::placeholder {
  color: white;
  font-size: 0.8em;
  font-weight: 300; }

.main__sobremi {
  margin-top: 8em;
  width: 59.8%; }
  .main__sobremi h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.3em; }
  .main__sobremi p {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 2em; }

.btn__secundario {
  cursor: pointer;
  position: relative;
  padding: 5px 10px;
  background: white;
  font-size: 0.8em;
  font-weight: 600;
  transition: all 1s;
  border: none; }
  .btn__secundario:after, .btn__secundario:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s; }
  .btn__secundario:after {
    top: 0;
    left: 0;
    border-top: 2px solid #f5c67e;
    border-left: 2px solid #f5c67e; }
  .btn__secundario:before {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #f5c67e;
    border-right: 2px solid #f5c67e; }
  .btn__secundario:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px; }
    .btn__secundario:hover:before, .btn__secundario:hover:after {
      width: 100%;
      height: 100%; }

.main__blog h5 {
  font-size: 2em;
  font-weight: 700; }

.main__blog p {
  font-size: 1em;
  font-weight: 300; }

.main__blog span {
  font-size: 0.8em;
  font-weight: 700; }

.section__blog img {
  transition: transform .2s; }
  .section__blog img:hover {
    border: solid 3px #f5c67e; }

.section__blog h5 {
  font-size: 1em;
  font-weight: 700; }

.section__blog p {
  font-size: 0.8em;
  font-weight: 400; }

.section__blog span {
  font-size: 0.8em;
  font-weight: 700; }

.section__blog label {
  font-size: 0.8em;
  font-weight: 300; }

.article__blog div {
  height: 10em; }
  .article__blog div div {
    width: auto;
    height: auto; }
    .article__blog div div h3 {
      font-size: 1em;
      font-weight: 700; }
    .article__blog div div hr {
      width: 10%;
      height: 2px;
      border-top: 2px solid #fff; }
  .article__blog div input {
    width: 20em;
    border: solid 0.04px #787878; }
  .article__blog div ::placeholder {
    color: #000;
    font-size: 0.8em;
    font-weight: 300; }

.submit__blog {
  font-size: 1em;
  font-weight: 400; }
  .submit__blog:hover {
    background-color: #f3ac41; }
