@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif; }
  * ::-webkit-scrollbar {
    width: 8px; }
  * ::-webkit-scrollbar-thumb {
    background: #778da9;
    border-radius: 100px; }
    * ::-webkit-scrollbar-thumb:hover {
      background: #415a77; }

a {
  text-decoration: none; }

.bg-dark {
  background-color: #0f0f0f; }

.bg-darkblue {
  background-color: #161616; }

.bg-blue {
  background-color: #415A77; }

.bg-lightblue {
  background-color: #778DA9; }

.bg-grey {
  background-color: #E0E1DD; }

.bg-orange {
  background-color: #F5C67E; }

.bg-black {
  background-color: #000000; }

.bg-white {
  background-color: #F5F0F0; }

.bg-lightgrey {
  background-color: #787878; }

.bg-darkblack {
  background-color: #0c0c0c; }

.text-dark {
  color: #0f0f0f; }

.text-darkblue {
  color: #161616; }

.text-blue {
  color: #415A77; }

.text-lightblue {
  color: #778DA9; }

.text-grey {
  color: #E0E1DD; }

.text-orange {
  color: #F5C67E; }

.text-black {
  color: #000000; }

.text-white {
  color: #F5F0F0; }

.text-lightgrey {
  color: #787878; }

.overlay {
  background-color: rgba(228, 228, 228, 0.8); }

.botonera {
  padding-top: 2em; }
  .botonera div button {
    border: 0; }
    .botonera div button:focus, .botonera div button:active {
      outline: none;
      box-shadow: none;
      border: 0; }
    .botonera div button span {
      width: 24px;
      height: 1px;
      background-color: #f71010;
      display: block;
      transition: all 0.2s; }
  .botonera div div ul {
    text-transform: uppercase; }
    .botonera div div ul li {
      list-style: none; }
      .botonera div div ul li a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 300; }
        .botonera div div ul li a:hover {
          color: #F5C67E; }

.middle-bar {
  margin: 5px auto; }

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  margin-right: .8em;
  height: .2em; }

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
  height: .2em; }

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
  margin-right: .8em;
  height: .2em; }

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100); }

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0); }

.navbar-toggler.collapsed .toggler-icon {
  background-color: #f5f0f0; }

.footer {
  padding-bottom: 10px; }
  .footer div a {
    text-decoration: none; }
    .footer div a li {
      list-style: none;
      font-size: 1.2rem;
      font-weight: 400; }
      .footer div a li:hover {
        color: #f5c67e; }
  .footer hr {
    border-top: .1em solid #787878;
    width: 100%; }
  .footer div ul a li {
    font-size: 2.5rem;
    font-weight: 400;
    margin: .5em; }
    .footer div ul a li:hover {
      color: #f5c67e; }

@media (max-width: 459.98px) {
  * {
    font-size: 45%; }
  .botonera ul {
    margin-top: 20em; }
    .botonera ul li {
      margin-top: 1em; }
      .botonera ul li hr {
        width: 100%;
        border: .1px solid white;
        margin-top: .7em; }
  .header__index {
    height: 100vh; }
    .header__index div {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .header__index div h1 {
        line-height: 1.4em; }
      .header__index div p {
        line-height: 2em; }
  .section__index {
    width: 100vw; }
    .section__index div {
      height: 35rem; }
      .section__index div p {
        width: 90%; }
  .main__index section div label {
    font-size: 1.2rem;
    font-weight: 400; }
  .main__index section div div {
    margin-top: 5em; }
  .main__index section div button {
    display: none; }
  .article__index {
    display: none; }
  .header__trabajos {
    height: 100vh; }
    .header__trabajos div span {
      margin-top: 3em; }
  .main__trabajos {
    margin-bottom: 20em; }
  .main__sobremi {
    height: 100vh;
    margin-top: 8em;
    width: 80%; }
  .main__contacto div {
    height: 100vh; }
    .main__contacto div h1 {
      font-size: 5.5rem;
      text-align: center;
      justify-content: center;
      line-height: 11rem; } }

@media (min-width: 460px) and (max-width: 575.98px) {
  * {
    font-size: 45%; }
  .botonera ul {
    margin-top: 8em; }
    .botonera ul li {
      margin-top: 1em; }
      .botonera ul li hr {
        width: 100%;
        border: .1px solid white;
        margin-top: .7em; }
  .header__index {
    height: 100vh; }
    .header__index div {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .header__index div p {
        line-height: 1.8em;
        margin: 0;
        padding: 0.5em 1em;
        width: 100%; }
  .section__index {
    margin: 0;
    padding: 0; }
    .section__index div {
      height: 40rem; }
      .section__index div button {
        background-color: #f5c67e;
        color: #000000;
        font-size: 1.2rem;
        font-weight: 400; }
  .main__index {
    margin-top: 4rem;
    margin-bottom: 5rem; }
    .main__index div {
      margin-bottom: 2.5rem; }
    .main__index section div {
      margin-top: 2rem; }
      .main__index section div label {
        font-size: 1.2rem;
        font-weight: 400; }
  .article__index {
    display: none; }
  .header__trabajos {
    height: 100vh; }
    .header__trabajos div span {
      margin-top: 3em; }
  .main__trabajos {
    margin-bottom: 20em; }
  .main__sobremi {
    height: 100vh;
    margin-top: 8em;
    width: 80%; }
  .main__contacto div {
    height: 100vh; }
    .main__contacto div h1 {
      font-size: 8rem;
      text-align: center;
      justify-content: center;
      line-height: 15rem; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .botonera ul {
    margin-top: 8em; }
    .botonera ul li {
      margin-top: 1em; }
      .botonera ul li hr {
        width: 100%;
        border: .1px solid white;
        margin-top: .7em; }
  .header__index {
    height: 100vh; }
    .header__index div {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .header__index div h1 {
        margin-bottom: 2rem; }
      .header__index div p {
        line-height: 1.8em;
        margin: 0;
        padding: 0.5em 1em;
        width: 100%; }
  .section__index {
    margin: 0;
    padding: 0; }
    .section__index div {
      height: 40rem; }
      .section__index div p {
        width: 60%; }
      .section__index div button {
        background-color: #f5c67e;
        color: #000000;
        font-size: 1.2rem;
        font-weight: 400; }
  .article__index {
    margin-top: 7em; }
    .article__index div div {
      margin: 1em; }
  .arrow__index {
    margin-top: 6em;
    margin-bottom: 6em; }
  .header__trabajos {
    height: 100vh; }
    .header__trabajos div span {
      margin-top: 3em; }
  .main__trabajos {
    margin-bottom: 20em; }
  .main__sobremi {
    margin-top: 8em;
    width: 70%;
    margin-bottom: 6em; }
  .main__contacto div {
    height: 100vh; }
    .main__contacto div h1 {
      font-size: 6rem;
      text-align: center;
      justify-content: center;
      line-height: 10rem; } }

@media (min-width: 768px) and (max-width: 840px) {
  .header__index div p {
    line-height: 2em;
    width: 70%; }
  .main__contacto div {
    height: 100vh; }
    .main__contacto div h1 {
      font-size: 6rem;
      justify-content: center;
      line-height: 10rem; } }

@media (min-width: 840.01px) and (max-width: 949.98px) {
  .header__index div p {
    line-height: 2em;
    width: 60%; }
  .main__contacto div {
    height: 100vh; }
    .main__contacto div h1 {
      font-size: 6rem;
      justify-content: center;
      line-height: 10rem; } }

@media (min-width: 950px) {
  .header__index {
    justify-content: end;
    align-items: flex-end; }
    .header__index div {
      margin-top: 40em; }
      .header__index div p {
        line-height: 2em;
        width: 80%; }
  .article__index {
    margin-top: 20em; }
  .main__sobremi {
    margin-top: 8em;
    width: 59.8%;
    margin-bottom: 6em; } }

@media (min-width: 768px) {
  .body__index {
    background-image: url(../img/hero__index-lg.webp);
    background-repeat: no-repeat; }
  .header__index {
    height: 100vh; }
    .header__index div h1 {
      margin-bottom: 2rem; }
    .header__index div p {
      line-height: 2em; }
  .section__index div {
    height: 50rem; }
    .section__index div p {
      width: 50%; }
  .main__index div {
    margin-bottom: 3rem; }
  .main__index section div div span {
    margin-right: 1rem; }
  .article__index {
    margin-bottom: 5rem; }
  .arrow__index {
    margin-bottom: 5rem; }
  .header__trabajos {
    height: 100vh; }
    .header__trabajos div span {
      margin-top: 3em; }
  .main__trabajos {
    margin-bottom: 20em; }
  .header__trabajos {
    height: 100vh; }
    .header__trabajos div span {
      margin-top: 3em; }
  .main__trabajos {
    margin-bottom: 20em; }
  .main__sobremi {
    margin-top: 8em;
    width: 65%;
    margin-bottom: 6em; }
  .main__contacto div {
    height: 45vh;
    width: 80vw; }
    .main__contacto div h1 {
      font-size: 7rem; } }

@media (min-width: 991.98px) {
  .botonera ul li hr {
    display: none; }
  .main__contacto div {
    height: 45vh;
    width: 85vw; }
    .main__contacto div h1 {
      font-size: 7rem; }
  .main__sobremi {
    margin-top: 8em;
    width: 49%;
    margin-bottom: 6em; } }

.header__index div h1 {
  font-size: 4rem;
  font-weight: 600; }

.header__index div p {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2em; }

.btn__1 {
  font-size: 1.2rem;
  font-weight: 400;
  padding: .5em 1em;
  background-color: #f3ac41;
  border: none;
  border-radius: .2em;
  width: auto; }
  .btn__1:hover {
    background-color: #f5c67e; }

.section__index {
  width: 99.95vw; }
  .section__index div h2 {
    font-size: 2rem;
    font-weight: 400; }
  .section__index div hr {
    border: .1rem solid #ee8f00;
    width: 3rem;
    margin: 0; }
  .section__index div p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 3.5em; }
  .section__index div ul {
    margin-top: 4rem;
    padding: 0; }
    .section__index div ul li {
      font-size: 2rem;
      font-weight: 400;
      margin: 0 .7em;
      list-style: none; }
      .section__index div ul li:hover {
        color: #f3ac41; }

.btn__2 {
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5em 1em;
  transition: all 1s;
  border: none; }
  .btn__2:after, .btn__2:before {
    content: " ";
    width: 1rem;
    height: 1rem;
    position: absolute;
    border: 0 solid #fff;
    transition: all 1s; }
  .btn__2:after {
    top: 0;
    left: 0;
    border-top: 0.2rem solid #f5c67e;
    border-left: 0.2rem solid #f5c67e; }
  .btn__2:before {
    bottom: 0;
    right: 0;
    border-bottom: 0.2rem solid #f5c67e;
    border-right: 0.2rem solid #f5c67e; }
  .btn__2:hover {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0; }
    .btn__2:hover:before, .btn__2:hover:after {
      width: 100%;
      height: 100%; }

.main__index div h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 3em; }

.main__index div hr {
  width: 3rem;
  border: 0.1rem solid #ee8f00;
  margin: 0; }

.main__index section {
  margin-top: 7em; }
  .main__index section div {
    margin-bottom: 10em; }
    .main__index section div a img:hover {
      transform: scale(1.02); }
    .main__index section div h4 {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 1em; }
    .main__index section div label {
      font-size: 2.5rem;
      font-weight: 400;
      margin-top: .5em; }
    .main__index section div div span {
      font-size: 1.2rem;
      font-weight: 300; }

.article__index h2 {
  font-size: 2rem;
  font-weight: 600; }

.article__index p {
  font-size: 1.2rem;
  font-weight: 400; }

.article__index hr {
  margin-top: 20rem;
  border-top: 1px solid;
  width: 100%; }

.header__trabajos div h1 {
  font-size: 4rem;
  font-weight: 700; }

.header__trabajos span {
  font-size: 1.2rem;
  font-weight: 400; }

.header__trabajos a {
  font-size: 4rem;
  font-weight: 400; }

.main__trabajos div {
  max-width: 1300px;
  margin: auto;
  margin-top: 4rem;
  flex-wrap: wrap; }
  .main__trabajos div div {
    width: 21.8rem;
    height: 20rem;
    margin: .1rem;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 300ms ease; }
    .main__trabajos div div:hover {
      box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
      background: #f5c67e;
      z-index: 1; }
    .main__trabajos div div h2 {
      margin-top: 2rem;
      font-size: 1.2rem;
      font-weight: 600; }
    .main__trabajos div div span {
      font-size: 4rem; }

.main__contacto {
  margin-top: 10rem;
  margin-bottom: 15rem; }
  .main__contacto div h1 a {
    font-size: 1em; }
    .main__contacto div h1 a:hover {
      color: #f5c67e;
      text-decoration: underline solid #ee8f00; }

.main__sobremi h2 {
  font-size: 1.2rem;
  font-weight: 600; }

.main__sobremi h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.3em; }

.main__sobremi p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2em; }

.section__aboutme div div {
  width: 30rem;
  height: 50rem; }

.main__blog h5 {
  font-size: 2.5rem;
  font-weight: 700; }

.main__blog p {
  font-size: 2rem;
  font-weight: 300; }

.main__blog span {
  font-size: 1.2rem;
  font-weight: 700; }

.section__blog img {
  transition: transform .2s; }
  .section__blog img:hover {
    border: solid 3px #f5c67e; }

.section__blog h5 {
  font-size: 2rem;
  font-weight: 700; }

.section__blog p {
  font-size: 1.2rem;
  font-weight: 400; }

.section__blog span {
  font-size: 1.2rem;
  font-weight: 700; }

.section__blog label {
  font-size: 1.2rem;
  font-weight: 300; }

.submit__blog {
  font-size: 2rem;
  font-weight: 400; }
  .submit__blog:hover {
    background-color: #f3ac41; }

.body__404 {
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  min-height: 100vh; }

.main__404 h1 {
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(250, 250, 250, 0.1), 0 0 5px rgba(250, 250, 250, 0.1), 0 1px 3px rgba(250, 250, 250, 0.3);
  animation: glitch 0.4s infinite linear; }

@keyframes glitch {
  0% {
    text-shadow: red -3px 0, cyan 2px 0; }
  50% {
    text-shadow: cyan -3px 0, red 2px 0; }
  100% {
    text-shadow: red -3px 0, cyan 2px 0; } }

.main__404 h2 {
  font-size: 2.5rem;
  font-weight: 400; }

.main__404 p {
  font-size: 2rem;
  font-weight: 400; }

.main__404 button {
  background-color: #ee8f00;
  font-size: 1.2rem;
  font-weight: 400;
  padding: .8em 1.2em;
  border: none;
  border-radius: 4px; }
  .main__404 button:hover {
    background-color: #f3ac41; }
