.bg-dark {
    background-color: map-get($map: $paleta, $key:"uno");
}

.bg-darkblue {
    background-color: map-get($map: $paleta, $key:"dos");
}

.bg-blue {
    background-color: map-get($map: $paleta, $key:"tres");
}

.bg-lightblue {
    background-color: map-get($map: $paleta, $key:"cuatro");
}

.bg-grey {
    background-color: map-get($map: $paleta, $key:"cinco");
}

.bg-orange {
    background-color: map-get($map: $paleta, $key:"seis" );
}

.bg-black {
    background-color: map-get($map: $paleta, $key:"siete" );
}

.bg-white {
    background-color: map-get($map: $paleta, $key:"ocho" );
}

.bg-lightgrey {
    background-color: map-get($map: $paleta, $key:"nueve" );
}

.bg-darkblack {
    background-color: map-get($map: $paleta, $key:"diez" );
}

.text-dark {
    color: map-get($map: $paleta, $key:"uno");
}

.text-darkblue {
    color: map-get($map: $paleta, $key:"dos");
}

.text-blue {
    color: map-get($map: $paleta, $key:"tres");
}

.text-lightblue {
    color: map-get($map: $paleta, $key:"cuatro");
}

.text-grey {
    color: map-get($map: $paleta, $key:"cinco");
}

.text-orange {
    color: map-get($map: $paleta, $key:"seis");
}

.text-black {
    color: map-get($map: $paleta, $key:"siete");
}

.text-white {
    color: map-get($map: $paleta, $key:"ocho");
}

.text-lightgrey {
    color: map-get($map: $paleta, $key:"nueve");
}

.overlay {
    background-color:  rgba(228, 228, 228, 0.8);
}