@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// fonts
$mainFont: 'Poppins', sans-serif;

// sizing

$textSm:1.2rem;
$textMd:2rem;
$textLg:2.5rem;
$textXl:4rem;


// font weigth
$thin:100;
$light:300;
$regular:400;
$semibold:600;
$bold:700;
$black:900;