@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// fonts
$mainFont: 'Poppins', sans-serif;

// sizing

$textSm:.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;


// font weigth
$thin:100;
$light:300;
$regular:400;
$semibold:600;
$bold:700;
$black:900;