//imports
@import "_vars";
@import "_fonts";
@import "_commons";
@import "_mixin";
@import "_color";
@import "_nav";
@import "_footer";

.header__index {
    height: auto;
    label{
        @include texto($textSm, $regular)
    }
    h1 {
        @include texto($textXl, $regular)
    }
    p {
        @include texto($textMd, $semibold)
    }    
    hr{
        border-left: solid 1px #787878;
        width: 0%;
        height: 6em;
    }
}

.btn__principal {
    cursor:pointer;
	position:relative;
	padding:5px 10px;
	background:white;
	@include texto($textMd, $semibold);
	transition:all 1s;
    border: none;
	&:after,&:before{
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		border :0px solid #fff;
		transition:all 1s;
		}
	&:after{
		top:0;
		left:0;
		border-top:2px solid #f5c67e;
		border-left:2px solid #f5c67e;
	}
	&:before{
		bottom:0;
		right:0;
		border-bottom:2px solid #f5c67e;
		border-right:2px solid #f5c67e;
	}
	&:hover{
		border-top-right-radius:0px;
	border-bottom-left-radius:0px;
		&:before,&:after{
			
			width:100%;
			height:100%;
		}
	}
}

.main__index{
    article{
        width: auto;
        height: auto;
        h2{
            @include texto($textMd, $semibold);
        }
    }
    div{
        position: relative;
        height: 80%;
        border-radius: 4px;
        width: 80%;
        img{
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
        div{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: rgba(223, 223, 223, 0.9);
            p{
                @include texto($textLg, $bold);
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;  
            }
        }
    }
}       

.contenedor:hover .overlay {
    opacity: 1;
  }



// Comienza trabajos

.header__trabajos {
    margin-top: 5em;
    div{
        height: auto;
        h3{
            @include texto($textSm, $regular)
        }
    }
}

.main__trabajos {
    height: auto;
    h3{
        @include texto($textMd, $regular)
    }
    p{
        @include texto($textSm, $regular);
    }
    }
    img{
        border-radius: 3px;
        &:hover{
            transform: scale(1.02);
        }
    }


// Termina trabajos



// Comienza contacto

.main__contacto {
    article{
        height: auto;
    }
    section{
        input{
            border: solid 1px white;
            padding: .3em;
            }
            ::placeholder{
                color: white;
                @include texto($textSm, $light)
        }
    }
}

// Termina contacto


// Comienzo sobre mi

.main__sobremi {
    margin-top: 8em;
    width: 59.8%;
    h1{
        @include texto($textLg, $semibold);
        line-height: 1.3em;
    }
    p{
        @include texto($textSm, $semibold);
        line-height: 2em;
    }
   
}
.btn__secundario {
    cursor:pointer;
	position:relative;
	padding:5px 10px;
	background:white;
	@include texto($textSm, $semibold);
	transition:all 1s;
    border: none;
	&:after,&:before{
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		border :0px solid #fff;
		transition:all 1s;
		}
	&:after{
		top:0;
		left:0;
		border-top:2px solid #f5c67e;
		border-left:2px solid #f5c67e;
	}
	&:before{
		bottom:0;
		right:0;
		border-bottom:2px solid #f5c67e;
		border-right:2px solid #f5c67e;
	}
	&:hover{
		border-top-right-radius:0px;
	border-bottom-left-radius:0px;
		// background:rgba(0,0,0,.5);
		// color:white;
		&:before,&:after{
			
			width:100%;
			height:100%;
			// border-color:white;
		}
	}
}


// Termina sobre mi


// Empieza blog

.main__blog{
    h5{
        @include texto($textLg, $bold);
    }
    p{
        @include texto($textMd, $light);
    }
    span{
        @include texto($textSm, $bold);
    }
}
.section__blog{
    img{
        transition: transform .2s;
        &:hover{
            border: solid 3px #f5c67e;
        }
    }
    h5{
         @include texto($textMd, $bold);
    }
    p{
        @include texto($textSm, $regular);
    }
    span{
        @include texto($textSm, $bold);
    }
    label{
        @include texto($textSm, $light);
    }
}

.article__blog {
    div{
        height: 10em;
        div{
            width: auto;
            height: auto;
            h3{
                @include texto($textMd, $bold);
            }
            hr{
                width: 10%;
                height: 2px;
                border-top: 2px solid #fff;
            }
        }
        input{
            width: 20em;
            border: solid 0.04px #787878;
        }
        ::placeholder{
            color: #000;
            @include texto($textSm, $light)
        }
    }
}

.submit__blog{
    @include texto($textMd, $regular);
    &:hover{
        background-color: #f3ac41;
    }
}

// Termina blog