//imports
@import "_vars";
@import "_fonts";
@import "commons";
@import "_mixin";
@import "_color";
@import "_nav";
@import "footer";

.header__index {
    height: auto;
    label{
        @include texto($textSm, $regular)
    }
    h1 {
        @include texto($textXl, $regular)
    }
    p {
        @include texto($textMd, $semibold)
    }    
    hr{
        border-left: solid 1px #787878;
        width: 0%;
        height: 6em;
    }
}

.btn__principal {
    border: solid 1px #f5c67e;
    padding: 10px 40px;
    border-radius: 4px;
    font-size: $textSm;
    &:hover{ 
        transform: scale(1.1);
    }
}


.main__index {
    section{
        height: auto;
        width: auto;
        margin-bottom: 5em;
        img{
            border-radius: .1em;
        }
        div{
            h5{
                @include texto($textSm, $regular)
            }
            p{
                @include texto($textLg, $semibold);
                margin-bottom: 0;
            }
            span{
                @include texto($textSm, $bold)
            }
        } 
    }
    hr{
        width: 100%;
        border-top: solid 1px #fff;
        margin-top: 10em;     
        margin-bottom: 5em;    
    }
}


// Comienza trabajos

.header__trabajos {
    margin-top: 5em;
    div{
        height: auto;
        h3{
            @include texto($textSm, $regular)
        }
    }
}

.main__trabajos { 
    margin-top: 5em;      
    section {
        div{
            height: 24em;
            width: 18em;
            img{
                height: 100%;
                width: 100%;
                border-radius: 4px;
            }
        }
    }
}

// Termina trabajos



// Comienza contacto

.main__contacto {
    article{
        height: auto;
    }
    section{
        input{
            border: solid 1px white;
            padding: .3em;
            }
            ::placeholder{
                color: white;
                @include texto($textSm, $light)
        }
    }
}

// Termina trabajos


// Comienzo sobre mi

.main__sobremi {
    margin-top: 8em;
    width: 59.8%;
    h1{
        @include texto($textLg, $semibold);
        line-height: 1.3em;
    }
    p{
        @include texto($textSm, $semibold);
        line-height: 2em;
    }
   
}
.btn__secundario {
    @extend .btn__principal;
    border: none;
    font-size: $textMd;
    padding: 0;
}
// Termina sobre mi


// Empieza blog

.main__blog{
    h5{
        @include texto($textLg, $bold);
    }
    p{
        @include texto($textMd, $light);
    }
    span{
        @include texto($textSm, $bold);
    }
}
.section__blog{
    h5{
        @include texto($textMd, $semibold);
    }
    p{
        @include texto($textSm, $light);
    }
    span{
        @include texto($textSm, $bold);
    }
}


// Termina blog