<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- metas seo -->
        <meta name="description" content="Ignacio Falco | Diseñador UX/UI freelance en Córdoba. Te invito a leer y suscribirte a mi blog para enterarte de las ultimas noticias.">
        <meta name="keywords" content="diseño ux, diseño ui, marketing, experiencia de usuario, diseño centrado en el usuario">
        <meta name="author" content="Ignacio Falco">
        <meta name="copyright" content="Ignacio Falco">
    <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- mi css -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <title>Blog | Ignacio Falco - UX / UI</title>
    </head>
    <body class="bg-black">
    <!-- Comienza navbar -->
        <nav class="bg-black botonera navbar navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                <img src="../img/logoNav.svg" alt="logo personal">
                </a>
                <button class="collapsed navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon top-bar"></span>
                    <span class="toggler-icon middle-bar"></span>
                    <span class="toggler-icon bottom-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item ms-lg-3">
                        <a class="text-grey nav-link" aria-current="page" href="../views/trabajos.html">Trabajos</a>
                        <hr>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <a class="text-grey nav-link" aria-current="page" href="../views/sobremi.html">Sobre mi</a>
                        <hr>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <a class="text-grey nav-link" aria-current="page" href="../views/contacto.html">Contacto</a>
                        <hr>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <a class="text-grey nav-link" aria-current="page" href="#">Blog</a>
                        <hr>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Termina nav -->
        <!-- Comienza main -->
        <main class="main__blog">
            <div class="card bg-black mb-3 mt-5 container">
                <a href="./error404.html">
                    <img src="../img/blog__1.webp" class="w-100 card-img-top" alt="Tips para hacer buenos wireframes">
                </a>
                <div class="bg-white card-body">
                    <h5 class="text-darkblue card-title">5 tips para perfeccionarte haciendo wireframes</h5>
                    <p class="mt-2 card-text">Una parte importante del diseño centrado en el usuario es...</p>
                    <span class="text-orange card-text">Ignacio Falco</span>
                </div>
            </div>
        </main>
        <!-- Termina main-->
        <!-- Comienza section -->
        <section class="section__blog container mt-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <a href="./error404.html">
                            <img src="../img/blog__2.webp" class="card-img-top" alt="tips para trabajar freelance">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-black">¿Como trabajar freelance?</h5>
                            <p class="card-text">Te dejo 5 tips importantes si queres comenzar tu carrera como diseñador UX/UI freelance.</p>
                            <div class="d-flex flex-column">
                                <span class="text-orange card-text">Ignacio Falco</span>
                                <label class="mt-1 text-dark">5 minutos de lectura</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="./error404.html">
                            <img src="../img/blog__3.webp" class="card-img-top" alt="tips para ser un buen diseñador ux">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-black">8 tips para ser un buen UXer</h5>
                            <p class="card-text">Convertirse en profesional de UX es una gran desafio, por eso te comparto estos tips.</p>
                            <div class="d-flex flex-column">
                                <span class="text-orange card-text">Ignacio Falco</span>
                                <label class="mt-1 text-dark">9 minutos de lectura</label>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="./error404.html">
                            <img src="../img/blog__4.webp" class="card-img-top" alt="libros sobre ux/ui">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-black">Los mejores 10 libros de UX/UI</h5>
                            <p class="card-text">Te comparto una guía con los mejores libros para leer si te interesa la experiencia de usuario.</p>
                            <div class="d-flex flex-column">
                                <span class="text-orange card-text">Ignacio Falco</span>
                                <label class="mt-1 text-dark">3 minutos de lectura</label>
                            </div>                       
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__blog container mt-5 mb-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <a href="./error404.html">
                            <img src="../img/blog__5.webp" class="card-img-top" alt="consejos para hacer pruebas de usabilidad">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-black">¿Cómo hacer pruebas de usabilidad?</h5>
                            <p class="card-text">Te comparto 8 consejos para que puedas sacarle el máximo provecho a tus pruebas de usabilidad.</p>
                            <div class="d-flex flex-column">
                                <span class="text-orange card-text">Ignacio Falco</span>
                                <label class="mt-1 text-dark">5 minutos de lectura</label>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="./error404.html">
                            <img src="../img/blog__6.webp" class="card-img-top" alt="errores que se deben evitar como ui designer">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-black">7 errores a evitar como UI designer</h5>
                            <p class="card-text">Te dejo una lista de cosas que debes evitar para poder desempeñarte bien como diseñador UI.</p>
                            <div class="d-flex flex-column">
                                <span class="text-orange card-text">Ignacio Falco</span>
                                <label class="mt-1 text-dark">4 minutos de lectura</label>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="./error404.html">
                            <img src="../img/blog__7.webp" class="card-img-top" alt="como hacer un buen blueprint">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-black">¿Qué es y cómo hacer un blueprint?</h5>
                            <p class="card-text">En este post encontraras las claves para entender y llevar adelante un buen blueprint.</p>
                            <div class="d-flex flex-column">
                                <span class="text-orange card-text">Ignacio Falco</span>
                                <label class="mt-1 text-dark">8 minutos de lectura</label>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Termina section -->
        <!-- Comienza footer -->
        <footer class="footer bg-black container-fluid mb-3">
            <div>
                <div class="d-flex justify-content-center">
                    <a href="../index.html">
                        <li class="me-4 text-lightgrey">Inicio</li>
                    </a>
                    <a href="./trabajos.html">
                        <li class="me-4 text-lightgrey">Trabajos</li>
                    </a>
                    <a href="./sobremi.html">
                        <li class="me-4 text-lightgrey">Sobre mi</li>
                    </a>
                    <a href="./contacto.html">
                        <li class="me-4 text-lightgrey">Contacto</li>
                    </a>
                    <a href="#">
                        <li class="text-lightgrey">Blog</li>
                    </a>
                </div>
                <hr>
                <div class="d-flex justify-content-center mt-3">
                    <ul class="d-flex text-start">
                        <a href="https://www.behance.net/ignaciofalco" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-behance"></i></li>
                        </a>
                        <a href="https://twitter.com/ignafalco" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-twitter"></i></li>
                        </a>
                        <a href="https://www.instagram.com/ignafalco/?hl=es-la" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-instagram"></i></li>
                        </a>
                        <a href="./img/LinkedIn.svg" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-linkedin-in"></i></li>
                        </a>
                        <a href="https://github.com/ignafalco" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-github"></i></li>
                        </a>
                    </ul>
                </div>
            </div> 
        </footer> 
    <!-- Termina footer -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>