<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- metas seo -->
        <meta name="description" content="Hola, soy Ignacio Falco. Soy diseñador UX/UI enfocado en crear experiencias unicas con una mirada del usuario en el centro. Te invito a conocerme">
        <meta name="keywords" content="diseño ux, diseño ui, marketing, experiencia de usuario, diseño centrado en el usuario">
        <meta name="author" content="Ignacio Falco">
        <meta name="copyright" content="Ignacio Falco">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- mi css -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <title>Sobre mi | Ignacio Falco - UX / UI</title>
    </head>
    <body class="bg-black">
        <!-- Comienza navbar -->
        <nav class="bg-black botonera navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logoNav.svg" alt="logo personal">
                </a>
                <button class="collapsed navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon top-bar"></span>
                    <span class="toggler-icon middle-bar"></span>
                    <span class="toggler-icon bottom-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="text-grey nav-link" aria-current="page" href="../views/trabajos.html">Trabajos</a>
                            <hr>
                        </li>
                        <li class="nav-item ms-lg-3">
                            <a class="text-grey nav-link" aria-current="page" href="#">Sobre mi</a>
                            <hr>
                        </li>
                        <li class="nav-item ms-lg-3">
                            <a class="text-grey nav-link" aria-current="page" href="../views/contacto.html">Contacto</a>
                            <hr>
                        </li>
                        <li class="nav-item ms-lg-3">
                            <a class="text-grey nav-link" aria-current="page" href="../views/blog.html">Blog</a>
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Termina nav -->
        <!-- Comienza main -->
        <main class="main__sobremi container-fluid">
            <div class="mb-4">
                <h2 class="text-lightgrey">Un gusto conocerte</h2>
            </div>
            <div class="d-flex justify-content-center"> 
                <h1 class="text-white">Soy un diseñador UX/UI apasionado por crear experiencias digitales únicas con el usuario como centro de cada extrategia.</h1>
            </div>
            <div class="mt-xl-4 d-flex flex-column justify-content-center">
                <p class="text-lightgrey">Tuve la oportunidad de iniciar mi carrera estudiando la licenciatura en marketing en la Universidad Empresarial Siglo XXI en Córdoba. Durante esos 5 años comenzo mi pasión por estudiar, analizar y entender el comportamiento de las personas, con el objetivo de aumentar su satisfacción y crear experiencias únicas.</p>
                <p class="text-lightgrey">En el último año de la carrera comencé a trabajar en una consultora llamada "Tomclie CX" como analista en experiencia del cliente. En ese momento fué donde terminé de enamorarme de este mundo de la experiencia. Tuve la suerte de poder trabajar con personas increibles que me enseñaron y me incentivaron mucho a seguir aprendiendo y desafiandome a mi mismo.</p>
                <p class="text-lightgrey">En ese momento, comencé a estudiar diseño y desarrollo UX/UI en Coderhouse. En donde adquirí mucho conocimiento sobre las técnicas y metodologías utilizadas y pude llevarlas a la práctica obteniendo experiencia muy valiosa.</p>
                <p class="text-lightgrey">Actualmente me encuentro viviendo en Córdoba, Argentina. Trabajando como analista CX en "Tomclie CX" y como diseñador UX freelance.</p>
                <p class="text-lightgrey">Soy muy apasionado por lo que hago y me gusta estar en constante aprendizaje, adquiriendo nuevos conocimientos y llevandolos a la práctica. Me encanta tomar nuevos desafios y trabajar con distintas personas.</p>
                <p class="text-lightgrey">Si te interesa saber más sobre mi, mis proyectos o simplemente conversar no dudes en enviarme un correo electrónico o conectar con mis redes sociales. ¡Me encantaría conocerte!</p>
            </div>
        </main>
        <!-- Termina main -->
        <!-- Comienza footer -->
        <footer class="footer bg-black container-fluid mb-3">
            <div>
                <div class="d-flex justify-content-center">
                    <a href="../index.html">
                        <li class="me-4 text-lightgrey">Inicio</li>
                    </a>
                    <a href="./trabajos.html">
                        <li class="me-4 text-lightgrey">Trabajos</li>
                    </a>
                    <a href="#">
                        <li class="me-4 text-lightgrey">Sobre mi</li>
                    </a>
                    <a href="./contacto.html">
                        <li class="me-4 text-lightgrey">Contacto</li>
                    </a>
                    <a href="./blog.html">
                        <li class="text-lightgrey">Blog</li>
                    </a>
                </div>
                <hr>
                <div class="d-flex justify-content-center mt-3">
                    <ul class="d-flex text-start">
                        <a href="https://www.behance.net/ignaciofalco" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-behance"></i></li>
                        </a>
                        <a href="https://twitter.com/ignafalco" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-twitter"></i></li>
                        </a>
                        <a href="https://www.instagram.com/ignafalco/?hl=es-la" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-instagram"></i></li>
                        </a>
                        <a href="./img/LinkedIn.svg" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-linkedin-in"></i></li>
                        </a>
                        <a href="https://github.com/ignafalco" target="_blank">
                            <li class="text-lightgrey text-start"><i class="fab fa-github"></i></li>
                        </a>
                    </ul>
                </div>
            </div> 
        </footer>
                <!-- Termina footer -->
                <!-- Option 1: Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
        </body>
</html>