<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- metas seo -->

    <meta name="description" content="Ignacio Falco | Diseñador UX/UI freelance en Córdoba. Te invito a conocer mis trabajo en ux, ui, cx y marketing, diseñando con una mirada user centric.">
    <meta name="keywords" content="diseño ux, diseño ui, marketing, experiencia de usuario, diseño centrado en el usuario">
    <meta name="author" content="Ignacio Falco">
    <meta name="copyright" content="Ignacio Falco">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Trabajos | Ignacio Falco - UX / UI</title>
  </head>
  <body class="bg-black body__trabajos">
    <!-- Comienza navbar -->
    <nav class="botonera navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logoNav.svg" alt="logo personal">
            </a>
            <button class="collapsed navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-auto">
                        <a class="text-grey nav-link" aria-current="page" href="#">Trabajos</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="text-grey nav-link" aria-current="page" href="../views/sobremi.html">Sobre mi</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="text-grey nav-link" aria-current="page" href="../views/contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="text-grey nav-link" aria-current="page" href="../views/blog.html">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

        
        <!-- Termina nav -->

        <!-- Comienza header -->
    
    <header class="header__trabajos mt-5 d-flex justify-content-center text-align-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-white text-center">Lo que he estado haciendo</h1>
            <p class="text-white text-center mt-4 w-75">Esta es una crónica detallada de las historias, análisis, y resultados detrás de proyectos que he liderado y en los que he contribuido.</p>
        </div>

    </header>


    <main class="main__trabajos container">

        <div class="d-flex justify-content-center">
            <a href="https://www.behance.net/gallery/144791141/Rediseno-UXUI-Prime-Video" target="_blank">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">Prime video</h2>
                </div>
            </a>
            <a href="https://www.behance.net/gallery/146973767/Diseno-UXUI-Empire" target="_blank">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">Empire</h2>
                </div>
            </a>
            <a href="https://www.behance.net/gallery/148957359/Glee-importaciones" target="_blank">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">Glee importaciones</h2>
                </div>
            </a>
            <a href="https://www.behance.net/ignaciofalco" target="_blank">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">   
                    <h2 class="text-darkblue">Travel app</h2>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">Portfolio</h2>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">Cook app</h2>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">E-commerce web</h2>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">Medicine web</h2>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">Sport app</h2>
                </div>
            </a>
            <a href="">
                <div class="d-flex justify-content-center align-items-center flex-column position-relative">
                    <h2 class="text-darkblue">Paddle app</h2>
                </div>
            </a>
        </div>

    </main>


    

        <!-- Termina header -->

        <!-- Comienza footer -->

        <footer class="footer bg-black container-fluid mb-3">
            <div class="d-flex justify-content-center">
                <a href="../index.html">
                    <li class="me-4 text-lightgrey">Inicio</li>
                </a>
                <a href="#">
                    <li class="me-4 text-lightgrey">Trabajos</li>
                </a>
                <a href="./sobremi.html">
                    <li class="me-4 text-lightgrey">Sobre mi</li>
                </a>
                <a href="./contacto.html">
                    <li class="me-4 text-lightgrey">Contacto</li>
                </a>
                <a href="./blog.html">
                    <li class="text-lightgrey">Blog</li>
                </a>
            </div>
            <hr>
            <div class="d-flex justify-content-center mt-3">
                <a href="https://github.com/ignafalco" target="_blank">
                    <img src="../img/GitHub.svg" alt="logo github" class="me-4">
                </a>
                <a href="https://www.instagram.com/ignafalco/?hl=es-la" target="_blank">
                    <img src="../img/Instagram.svg" alt="logo instagram" class="me-4">
                </a>
                <a href="https://www.behance.net/ignaciofalco" target="_blank">
                    <img src="../img/Behance.svg" alt="logo behance" class="me-4">
                </a>
                <a href="https://www.linkedin.com/in/ignacio-falco-12a3131a1/" target="_blank">
                    <img src="../img/LinkedIn.svg" alt="logo linkedin" class="me-4">
                </a>
                <a href="https://twitter.com/ignafalco" target="_blank">
                    <img src="../img/Twitter.svg" alt="logo twitter">
                </a>
            </div>
        </div> 
    </footer>
    <!-- Termina footer -->


    <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>